{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<div class="container my-5">
    <div class="row contents">
        <div class="col-md-6">
            {% comment %} <form method="POST" action="{% url 'addjob' %}">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </form> {% endcomment %}

            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}

                <div class="row">

                <div class="form-outline col-md-12 mb-2">
                    <input type="text" name="job_title" id="job_title" class="form-control form-control" />
                    <label class="form-label" for="job_title">Job Title</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    <input type="text" name="company" id="company" class="form-control form-control" />
                    <label class="form-label" for="company">Company</label>
                </div>

                <div class="form-outline col-md-6 mb-2">
                    <select id="someSelectElement" name="job_type" class="form-select" aria-label="Default select example" required>
                        <option selected value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="Internship">Internship</option>
                    </select>
                    <label class="form-label" for="position">Select Position</label>
                </div>

                <div class="form-outline col-md-6 mb-2">
                    <select id="someSelectElement" name="category" class="form-select" aria-label="Default select example" required>
                        {% for i in cat %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <label class="form-label" for="category">Select Category</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    <input type="text" name="exp_required" id="exp_required" class="form-control form-control" />
                    <label class="form-label" for="exp_required">exp_required</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    <select class="js-select2 form-control form-control" name="skills_req" multiple required>
                
                        {% for i in skill %}
                        <option name="{{i.data}}" value="{{i.data}}">{{i.data}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="form-label" for="skills_req">Skills required</label>
                </div>

                {% comment %} <div class="form-outline col-md-12 mb-2">
                    <textarea name="job_des" id="job_des" class="form-control form-control" ></textarea>
                    <label class="form-label" for="job_des">job description</label>
                </div> {% endcomment %}

                <div class="form-outline col-md-12 mb-2">
                    {{form.media}}
                    {{form.job_des}}
                    <label class="form-label" for="job_des">{{ form.job_des.label }}</label>
                </div>

                <div class="form-outline col-md-6 mb-2">
                    <input type="text" name="min_salary" id="min_salary" class="form-control form-control" />
                    <label class="form-label" for="min_salary">Min Salary</label>
                </div>

                <div class="form-outline col-md-6 mb-2">
                    <input type="text" name="max_salary" id="max_salary" class="form-control form-control" />
                    <label class="form-label" for="max_salary">Max Salary</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    <input type="text" name="location" id="location" class="form-control form-control" />
                    <label class="form-label" for="location">Location</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    {{form.media}}
                    {{form.company_desc}}                    
                    <label class="form-label" for="job_des">{{form.company_desc.label}}</label>
                </div>
                
                <div class="form-outline col-md-12 mb-4">
                    <input type="file" name="job_image" id="job_image"
                        class="form-control form-control-lg" />
                    <label class="form-label" for="job_image">job Image</label>
                </div>

                <div class="form-outline col-md-12 mb-2">
                    <input type="text" name="url" id="url" class="form-control form-control" />
                    <label class="form-label" for="url">url</label>
                </div>

                </div>
                <button type="submit" class="btn btn-success btn-block">Update</button>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/script1.js"></script>

{% endblock %}