{% extends 'base.html' %}

{% block content %}

{% for msg in messages %}
<script>
  alert("{{ msg|escapejs }}");
</script>
{% endfor %}
<section>

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 mt-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Jobs</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Jobs</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container-xxl ">
        <div class="container my-5">
            {% if user.is_authenticated and user.profile.is_course == True %}
            <div style="float: right;">
                <a href="/add_course"><button class="btn btn-grey">Add Jobs</button></a>
            </div>
            {% endif %}
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>
                <h1 class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
            </div>
            <div class="row g-4 justify-content-center">

                {% for n in data.object_list %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4"></div>
                            <h4 class="mb-3">{{n.title}}</h4>
                            <h5 class="mb-3"><i class="bi bi-building text-primary me-2"></i>{{n.company}}</h5>
                            {% if n.skills|length > 150 %}
                            <p class="mb-3">{{n.skills|slice:":150"}}<span id="dots">...</span></p>
                            {% else %}
                            <p class="mb-3">{{n.skills|slice:":150"}}</p>
                            {% endif %}

                            <p class="mb-3">{{n.course_for}}</p>
                            <p class="mb-3">{{n.created_at.day}}ago</p>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid-new" src="/media/course/courses-1.jpg" alt="" />
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2"
                                    href="#">Apply</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                <center>
                    <div>
                        <nav aria-label="Page navigation example"></nav>
                            <ul class="pagination" style="display: inline-flex;">
                                <li class="page-item">


                                    {% if data.has_previous %}
                                        <a class="page-link" href="?page={{data.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>

                                        </a> 
                                    {% endif %}
                                </li>

                                {% for num in data.paginator.page_range %}
                                {% if data.number == num %}
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                                {% endfor %}

                                <li class="page-item">
                                    {%if data.has_next %} 
                                        <a class="page-link" href="?page={{data.next_page_number}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                        </a>
                                    {% endif %}
                                </li>
                        </nav>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>
{% endblock %}