{% extends 'base.html' %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/static/images/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <h2 class="display-2 text-light mb-5 animated slideInDown">The future of learning is working.
                                 </h2>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-5">Learn More</a>
                                    <a href="courses/" class="btn btn-light py-sm-3 px-sm-5 ms-3">Our Courses</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>
            
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Facts Start -->

    <div class="container-fluid bg-2   py-5 pb-2 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-6 facts p-2 wow fadeIn" data-wow-delay="0.1s">
                    <div class="card-ui">
                        <div class="card__content-ui p-4 pt-5 pb-5">
                            <h2 class=" ">Latest Top Skills</h2>
                            <p class=" ">Transform your workforce and equip your employees with the most in-demand skills.</p>
                            <a class="btn btn-primary py-2 px-4" href="#">Book a consultation </a><a class="btn btn-grey  mx-2 py-2 px-4" href="">Learn more</a>
                        </div></div>
                </div>
                <div class="col-lg-6 facts p-2 wow fadeIn" data-wow-delay="0.3s">
                    <div class="card-ui">
                        <div class="card__content-ui p-4 pt-5 pb-5">
                            <h2 class=" ">Individuals</h2>
                            <p class=" ">Get ahead with expert-led training in data, coding, tech, and more.</p><br />
                            <a class="btn btn-primary py-2 px-4" href="#">Career starters</a><a class="btn btn-grey  mx-2 py-2 px-4" href="">Professionals</a>
                        </div></div>
                </div>
                <!-- <div class="col-lg-4 facts  p-2 wow fadeIn" data-wow-delay="0.5s">
                    <div class="card-ui">
                        <div class="card__content-ui p-4 pt-5 pb-5">
                            <h2 class="text-light">Industry Experts</h2>
                            <p class="text-light">Create your free account now and get immediate access to 100s of courses.</p>
                            <a class="btn btn-primary py-2 px-4" href="">Read More</a>
                        </div></div>
                </div> -->
            </div>
           
        </div>
    </div>
   
    <!-- Facts End -->
   

    <!-- icon slider Start 
    <section class="slick-section bg-2 p-5  ">
       
        <div class="slick-container">
        <div class="slick-wrap pb-2">
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/e054767d9fc6c0da9eb051ca3be9af3efd7aba6b-489x168.png?w=828&fit=clip&auto=format">
           </div>
          
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/7fc4f58b246add12095be288c2054a6a08ddef79-444x168.png?w=828&fit=clip&auto=format">
           </div>
          
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/e054767d9fc6c0da9eb051ca3be9af3efd7aba6b-489x168.png?w=828&fit=clip&auto=format">
           </div>
          
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/7fc4f58b246add12095be288c2054a6a08ddef79-444x168.png?w=828&fit=clip&auto=format">
           </div>
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/e054767d9fc6c0da9eb051ca3be9af3efd7aba6b-489x168.png?w=828&fit=clip&auto=format">
           </div>
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/7fc4f58b246add12095be288c2054a6a08ddef79-444x168.png?w=828&fit=clip&auto=format">
           </div>
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/e054767d9fc6c0da9eb051ca3be9af3efd7aba6b-489x168.png?w=828&fit=clip&auto=format">
           </div>
          <div class="slick-item">
            <img width="180px" src="https://cdn.sanity.io/images/6y1mknvo/production/7fc4f58b246add12095be288c2054a6a08ddef79-444x168.png?w=828&fit=clip&auto=format">
           </div>
        </div>
        </div>
      </section>
-->

    <!-- banner slider Start -->
    <section class="announcement py-6 bg-2 p-5 mb-5">
       
        <div class="container ">
            <div class="row align-items-center">
                 
                <div class="para col-lg-9 d-flex">
                    <i class="bi display-6 px-5 text-primary bi-arrow-right"></i>    <p class=" "><b class="text-primary">Exclusive access:</b> the Josh Bersin Company’s Talent Marketplace Collection explores what’s at the core of a successful talent strategy.​</p>
                     
                </div>
                <div class="col-lg-3">
                    <a class="btn btn-grey  mx-2 py-2 px-4" href="#">Check it out now!</a>
                </div>
            </div>
        </div>
      </section>
    <!-- banner slider End -->


    <!-- About Start -->
    <div class="container-xxl py-4   ">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="/static/images/about-1.jpg" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="/static/images/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">Why Learnkoods</h6>
                        <h2 class="display-6 mb-4">Apprenticeships are a better pathway to growth</h2>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        
                        <div class="row g-4">
                            <div class="col-lg">
                                <a class="btn btn-primary py-3 px-5" href="#">Read More</a>
                         
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

     <!-- Workforce Start -->
     <div class="    ">
        <div class="row m-0  justify-content-center">
            <div class="col-lg-8 text-center g-5">
                 
                     <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">Move with the market</h6>
                        <h2 class="display-6 mb-4">Enter Workforce Agility</h2>
                        <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                         
                       
                    </div>
             </div>

             
        </div>
        <div class="row mt-5 m-0 justify-content-center">
            <div class="col-lg-6 bg-2 p-5">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">TALENT MARKETPLACE</h6>
                    <h2 class="display-6 mb-4">Develop and deploy your people</h2>
                    <p>Break down silos, reallocate talent and skills at scale, and put employees at the helm of their careers.</p>
                    <a class="btn btn-primary py-2 px-4" href="#">Talk to an expert</a><a class="btn btn-grey  mx-2 py-2 px-4" href="">See our platform</a>

                </div>
                
            </div>
            <div class="col-lg-6 bg-3 p-5">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">SKILLS FOUNDATION</h6>
                    <h2 class="display-6 text-white mb-4">Design a future-fit <br> workforce</h2>
                    <p class="text-white" >Build a skills-based organization with the insights and tools you need for strategic workforce planning and critical talent decision-making.</p>
                    <a class="btn btn-primary py-2 px-4" href="">Talk to an expert</a><a class="btn btn-grey  mx-2 py-2 px-4" href="#">See our platform</a>
                </div>
        </div>
    </div>
      <!-- Workforce end -->
</div>
    <!-- Courses Start
    <div class="  courses    py-6 pb-0">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>
                <h2 class="display-6 mb-4">Our Courses Upskill You  </h2>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Starts @$99</div>
                            <h5 class="mb-3">Web Development</h5>
                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="img/courses-3.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Starts @$99</div>
                            <h5 class="mb-3">Mern Developer</h5>
                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="img/courses-3.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">Starts @$99</div>
                            <h5 class="mb-3">Seo Experts</h5>
                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Beginner</li>
                                <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>3 Week</li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="img/courses-3.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s">
                   
                </div>
            </div>
        </div>
    </div>
   -->


    <!-- New Section White Start  

    <section>
        <div class="container">
            <div class="row py-6 justify-content-center">
            <div class="col-lg-10 mb-3">
                <h6 class="text-primary  text-center text-uppercase mb-2">SKILLS FOUNDATION</h6>
                <h2 class="display-6 text-center   mb-4">Preparing for the Future of Work</h2>

            </div>
           
        
            <div class="four col-md-3">
                <div class="counter-box colored">
                    <i class="bi bi-person"></i>
                    <span class="counter">2147</span>
                    <p>Happy Customers</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box  ">
                    <i class="bi bi-person-bounding-box"></i>
                    <span class="counter">3275</span>
                    <p>Registered Members</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box colored">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <span class="counter">289</span>
                    <p>Available Courses</p>
                </div>
            </div>
            <div class="four col-md-3">
                <div class="counter-box">
                    <i class="bi bi-briefcase"></i>
                    <span class="counter">1563</span>
                    <p>Tech Trees</p>
                </div>
            </div>
          </div>	
        </div>
    </section>
 -->

    <!-- Features Start -->
    <div class="  bg-3 py-6  ">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp text-white" data-wow-delay="0.1s">
                    <h6 class="text-primary text-uppercase mb-2">Why Choose Us!</h6>
                    <h2 class="display-6 mb-4 text-white">Best Skill Training Agency In Your City</h2>
                    <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 text-white">Fully Licensed</h5>
                            </div>
                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 text-white">Online Tracking</h5>
                            </div>
                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 text-white">Afordable Fee</h5>
                            </div>
                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 text-white">Best Trainers</h5>
                            </div>
                            <span>Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="/static/images/about-1.jpg" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-dark ps-1 pb-1" src="/static/images/about-2.jpg" alt="" style="width: 200px; height: 200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->



     <!-- right left section Start -->
     <div class="container-xxl py-6   ">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                         <img class="img-fluid" src="/static/images/l1.webp" alt="" style="object-fit: cover;">
                 </div>
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">INTERNAL MOBILITY</h6>
                        <h2 class="display-6 mb-4">Maximize employee potential and fill roles faster</h2>
                         <p class="mb-4">Break down silos and match people to opportunities anywhere in your organization. Tap into a strong candidate pool immediately, and help employees find roles suited to their unique skills, experiences, and aspirations—all within your company.</p>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row g-5 py-5  align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">SOURCING AND SCREENING</h6>
                        <h2 class="display-6 mb-4">Find future talent, from anywhere</h2>
                         <p class="mb-4">Tap into any talent pool and unlock the full potential of your database. Get a 360-degree view of skills across employees, active or past applicants, alumni, contingent workers, and more. Promote a fair and equitable hiring process with AI trained to mitigate bias and surface non-traditional candidates based on aspirations and transferable skills.</p>
                        
                        
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                         <img class="img-fluid" src="/static/images/l2.jpg" alt=""  >
                 </div>
               
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                         <img class="img-fluid" src="/static/images/l3.png" alt="" style="object-fit: cover;">
                 </div>
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">PROJECT AND GIG MARKETPLACE</h6>
                        <h2 class="display-6 mb-4">Build a dynamic workforce</h2>
                         <p class="mb-4">Work comes at you fast—spin up cross-functional teams, backfill critical work, launch new initiatives, or respond quickly with projects and gigs. And meanwhile, Gloat’s talent marketplace equips your employees with on-the-job learning and continuous development opportunities.</p>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row g-5   align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h6 class="text-primary text-uppercase mb-2">TALENT POOLS</h6>
                        <h2 class="display-6 mb-4">Build and nurture talent pools</h2>
                         <p class="mb-4">Fill critical roles faster with talent on-demand. Identify and compare qualified talent in- and outside your company. Keep them engaged by using tailored campaigns and suggest relevant upskilling opportunities, positions and content while monitoring the health of your pipeline over time.</p>
                        
                        
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.1s">
                         <img class="img-fluid" src="/static/images/l4.webp" alt=""  >
                 </div>
               
            </div>
        </div>
    </div>
    <!-- right left section End -->

    <!-- Banner  -->
   <section class="bg-3">
    <div class="row p-5 justify-content-center m-0 ">
        <div class="col-lg-7  text-center bg-2 p-5   ">
            <h2 class="display-6 mb-2">Behold, the power of anything</h2>
            <p class="mb-4 ">Learnkoods gets its powers from highly advanced neural networks, trained to identify the unique skills and abilities of your employees in real time and instantly match them with your ever-changing needs across the entire enterprise.</p>
            <a class="btn btn-primary py-2 px-4" href="#">Watch Now </a>

        </div>

    </div>
   </section>

 <section>
    <div class="container">
        <div class="row mb-5 justify-content-center">
        <div class="col-lg-10 pt-3 my-5 text-center">
            <h2 class="display-6 mb-2 ">The enterprises you know are going from one thing to anything</h2>
        </div>
        <div class=" mt-4 col-lg-11"> <img src="/static/images/logos.webp" /> </div>

    </div>
   
   
    </div>
 </section>
 
   

    <!-- slider for blog Start -->
     <section class="slick-section bg-2 p-5  ">
       
                <div class="slick-container">
                <div class="one-time ">
                <div class="slick-item  ">
                    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 p-5">
            <h2 class="display-6 mb-3">Behold, the power of anything</h2>
            <p class="mb-4  p2"><b> Learnkoods gets its powers from highly advanced neural networks.</b> </p>
            <p class="mb-4 ">Learnkoods gets its powers from highly advanced neural networks, trained to identify the unique skills and abilities of your employees in real time and instantly match them with your ever-changing needs across the entire enterprise.</p>
        <a href="#" class=" " ><i class="bi display-6 text-primary bi-arrow-right float-end"></i></a>
        </div>
        <div class="col-lg-7 p-5">
        <img src="/static/images/img-post.webp" class="img-fluid"  style="height: 420px !important; margin: auto;">
        </div></div>
                </div>
                <div class="slick-item  ">
                    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 p-5">
            <h2 class="display-6 mb-3">Behold, the power of anything</h2>
            <p class="mb-4  p2"><b> Learnkoods gets its powers from highly advanced neural networks.</b> </p>
            <p class="mb-4 ">Learnkoods gets its powers from highly advanced neural networks, trained to identify the unique skills and abilities of your employees in real time and instantly match them with your ever-changing needs across the entire enterprise.</p>
        <a href="#" class=" " ><i class="bi display-6 text-primary bi-arrow-right float-end"></i></a>
        </div>
        <div class="col-lg-7 p-5">
        <img src="/static/images/workforce.webp" class="img-fluid"  style="height: 420px !important; margin:auto;">
        </div></div>
                </div>
                <div class="slick-item  ">
                    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 p-5">
            <h2 class="display-6 mb-3">Behold, the power of anything</h2>
            <p class="mb-4  p2"><b> Learnkoods gets its powers from highly advanced neural networks.</b> </p>
            <p class="mb-4 ">Learnkoods gets its powers from highly advanced neural networks, trained to identify the unique skills and abilities of your employees in real time and instantly match them with your ever-changing needs across the entire enterprise.</p>
        <a href="#" class=" " ><i class="bi display-6 text-primary bi-arrow-right float-end"></i></a>
        </div>
        <div class="col-lg-7 p-5">
        <img src="/static/images/post-img-3.gif" class="img-fluid"  style="height: 420px !important; margin: auto;">
        </div></div>
                </div>
                <div class="slick-item  ">
                    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 p-5">
            <h2 class="display-6 mb-3">Behold, the power of anything</h2>
            <p class="mb-4  p2"><b> Learnkoods gets its powers from highly advanced neural networks.</b> </p>
            <p class="mb-4 ">Learnkoods gets its powers from highly advanced neural networks, trained to identify the unique skills and abilities of your employees in real time and instantly match them with your ever-changing needs across the entire enterprise.</p>
        <a href="#" class=" " ><i class="bi display-6 text-primary bi-arrow-right float-end"></i></a>
        </div>
        <div class="col-lg-7 p-5">
        <img src="/static/images/post-img-2.gif" class="img-fluid" style="height: 420px !important; margin: auto;">
        </div></div>
                </div>
                
            
                </div>
                </div>
            </section>

            
            <!-- slider for blog End -->
    </section>
    
{% endblock %}