{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}

{% for msg in messages %}
<script>
  alert("{{ msg|escapejs }}");
</script>
{% endfor %}

<!-- Section: Design Block -->
<section class="  bg-2">

  <div class="row pb-3 justify-content-center align-items-center">
    <div class="col-lg-5 p-5">
      <div class="slick-container">
        <div class="one-time ">

          <div class="slick-item p-5 ">
            <img src="/static/images/learn.webp" class="img-fluid">
          </div>
          <div class="slick-item p-5 ">
            <img src="/static/images/job.webp" class="img-fluid">
          </div>
          <div class="slick-item p-5 ">
            <img src="/static/images/practice.webp" class="img-fluid">
          </div>
          <div class="slick-item  p-5 ">
            <img src="/static/images/compete.webp" class="img-fluid">
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="card-body p-4 p-lg-5 text-black">

        <form method="post" action="{% url 'signin' %}">
          {% csrf_token %}

          <div class="d-flex align-items-center mb-3 pb-1">
            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
            <span class="h1 fw-bold mb-0">LEARNKOODS </span>
          </div>

          <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

          <div class="form-outline mb-4">
            <input type="text" name="username" id="username" class="form-control form-control-lg" />
            <label class="form-label" for="username">Username</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control form-control-lg" />
            <label class="form-label" for="password">Password</label>
            <div class="edit"><input type="checkbox" class="form-label" onclick="myFunction()"><span>Show
                Password</span></div>
          </div>

          <div class="pt-1  mb-4">
            <button class="btn px-5 btn-primary btn-lg btn-block" type="submit">Login</button>
          </div>

        </form>

        <hr class="my-4">
        <div class="row mb-4">
          <div class="col-md-6">
            <a href=""><img src="/static/images/google.png" alt="" class="img-fluid-provider" /></a>
          </div>
          <div class="col-md-6">
            <a href=""><img src="/static/images/linkedin.png" alt="" class="img-fluid-provider" /></a>
          </div>
        </div>
        <a class="small " href="/forget">Forgot password?</a>
        <p class="mb-5 pb-lg-2">Don't have an account? <a href="/sign-up">Register here</a></p>
        <!-- <a href="#!" class="small text-muted">Terms of use.</a>
          <a href="#!" class="small text-muted">Privacy policy</a> -->

      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

{% endblock %}