{% extends 'base.html' %}

{% block content %}

{% for msg in messages %}
<script>
  alert("{{ msg|escapejs }}");
</script>
{% endfor %}
<section>

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 mt-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Jobs</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Jobs</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container-xxl ">
        <div class="container my-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Tranding Jobs</h6>
                <h1 class="display-6 mb-4">Find a Jobs That Make's Your Future</h1>
            </div>
            <div class="row g-4 justify-content-center">

                {% for n in data %}

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4"></div>
                            <h4 class="mb-3">{{n.job_title}}</h4>
                            <h5 class="mb-3"><i class="bi bi-building text-primary me-2"></i>{{n.company}}</h5>
                            <!-- <p class="mb-3">{{n.max_salary}}</p> -->
                            <p class="mb-3">{{n.timestamp.day}} ago</p>
                        </div>
                    
                        <div class="position-relative mt-auto">
                            
                            {% if n.job_image != NULL %}

                            <img class="img-fluid-new" src="/media/{{n.job_image}}" alt="" />
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2"
                                    href="/job-details/{{n.job_slug}}">Apply</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>


</section>

<section>
    <div class="container-xxl ">
        <div class="container my-5">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">Tranding Courses</h6>
                <h1 class="display-6 mb-4">Our Courses Upskill You With Driving Training</h1>
            </div>
            <div class="row g-4 justify-content-center">

                {% for n in course %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-light overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">${{n.course_price}}
                            </div>
                            <h5 class="mb-3"><i class="bi bi-building text-primary me-2"></i>{{n.title}}</h5>
                            {% if n.skills|length > 150 %}
                            <p class="mb-3">{{n.skills|slice:":150"}}<span id="dots">...</span></p>
                            {% else %}
                            <p class="mb-3">{{n.skills|slice:":150"}}</p>
                            {% endif %}

                            <p class="mb-3">{{n.course_level}}</p>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid-new" src="/media/course/courses-1.jpg" alt="" />
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2"
                                    href="/course-details/{{n.course_slug}}">Apply</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}